<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Empréstimos" icon="ion-pricetags" href="#/tabs/emprestimos">
            <ion-nav-view name="emprestimos"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Livros" icon="ion-ios-book" href="#/tabs/livros">
            <ion-nav-view name="livros"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Pessoas" icon="ion-person-stalker" href="#/tabs/pessoas">
            <ion-nav-view name="pessoas"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>